
/* mobile first */
.home-page-container {
    width: 100%;
    height: 100%;
    background-color: #E0FBFC;
    color: linen;
}
.name {
    font-size: 2em;
}
.subtitle{
    font-size: 1em;
}
.portrait {
    max-width: 300px;
}

/*tablet */
@media screen and (min-width: 800px) {
    .portrait {
        max-width: 800px;
    }
}

/* desktop */
@media screen and (min-width: 1000px) {
    .portrait {
        max-width: 850px;
    }
}