
/* mobile first */
Router {
    font-family: 'Roboto';
}
.nav-parent{
    line-height: 15px;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
}
.nav-content {
    margin-top: 90px;
    overflow-y: scroll;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}
.nav-list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #3d5a80;
    padding-inline-start: 0px;
}
.nav-list li{
    margin: 10px;
}
.nav-list li a{
    text-decoration: none;
    color: white
}

/* tablet/large screen */
.nav-list {
    max-width: none;
}